[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
trust_rent = "2hngLBPwfPLtyMZWS8ciU4NTgzT7gicmHEqshWAFMZiQ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "/Users/brandonrobb/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
